#content-contato h2 {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

#content-contato label {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

#content-contato button {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    cursor: pointer;
}