#content-contato {
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}

#content-contato h2 {
    font-size: 2rem;
    font-weight: 800;
}

#content-contato label {
    font-weight: 700;
}

#content-contato button {
    background-color: #023463;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#submitButton:hover {
    background-color: #25AADA;
}