#content-estatisticas {
  font-family: 'Poppins', sans-serif;
}

#content-estatisticas h2 {
  font-size: 2rem;
  font-weight: 800;
}

.card {
  height: 340px;
}

.card-header {
  background-color: #25AADA;
}