#content-estatisticas {
  font-family: 'Poppins', sans-serif;
  padding-top: 1rem;
}

#content-estatisticas h2 {
  font-size: 2rem;
  font-weight: 800;
}

.card {
  height: 340px;
}

.card-header {
  background-color: #25AADA;
}

@media (max-width: 576px) {

  #content-estatisticas h2 {
    font-size: 1.60em;
  }
}