/*SEÇÃO SOBRE*/
#content-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 9rem;
}

.left-column {
    width: 40%;
}

.left-column h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #023463;
    font-size: 3.2em;
    margin-bottom: 2rem;
}

.left-column p {
    font-size: 1.6em;
    color: #000;
    font-weight: 500;
    text-align: justify;
}

.left-column span {
    font-size: 1em;
    color: #00c9da;
    font-weight: 500;
    text-align: justify;
}

#map {
    width: 40%;
    height: 60vh;
    padding: 10rem;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}