.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 200px; 
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-primary {
    background-color: white;
    color: #25AADA;
    border: 1px solid #25AADA;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #25AADA;
    color: white;
}

@media (max-width: 992px) {
    .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .card-body {
        padding: 15px;
    }

}

@media (max-width: 576px) {
    .card-img-top {
        height: 120px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .card-body {
        padding: 10px;
    }

}
