* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar,
.navbar a {
    font-family: 'Poppins', sans-serif;
    background-color: #023463;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #25AADA;
}

.navbar .navbar-brand {
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}

.navbar-brand:hover {
    color: #25AADA;
}