* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar,
.navbar a {
    font-family: 'Poppins', sans-serif;
    background-color: #023463;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar img {
    max-width: 150px;
    height: auto;
    transition: all 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #25AADA;
}

.navbar .navbar-brand {
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}

.navbar-brand:hover {
    color: #25AADA;
}

.dropdown-menu {
    background-color: #023463;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #25AADA;
}

.navbar .nav-item.dropdown:focus-within .nav-link {
    color: #25AADA;
}


@media (max-width: 768px) {
    .navbar img {
        max-width: 120px;
    }
}

@media (max-width: 480px) {
    .navbar img {
        max-width: 100px;
    }
}