#content-ocorrencias h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

@media (max-width: 576px) {

    #content-ocorrencias h2 {
        font-size: 1.60em;
    }

}