#content-suporte {
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}

#content-suporte h2 {
    font-size: 2em;
    font-weight: 800;
}

#content-suporte p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
}

.accordion-button {
    border-radius: 20px;
    background-color: #023463e8;
    color: white;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

.accordion .accordion-item:first-child .accordion-button {
    border-radius: 20px;
}

.accordion#accordionExample .accordion-item:last-child .accordion-button {
    border-radius: 20px;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}


@media (max-width: 768px) {
    #content-suporte p {
        font-size: 1.2rem;
    }

    .accordion-button {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    #content-suporte h2 {
        font-size: 1.60em;
    }

    #content-suporte p {
        font-size: 1rem;
    }

    .accordion-button {
        font-size: 14px;
    }
}