* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar,
.navbar a {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #333;
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #007bff;
}

.navbar .navbar-brand {
    font-weight: 800;
    font-size: 24px;
    color: #333;
}

.navbar-brand:hover {
    color: #007bff;
}

/* SEÇÃO DO SUPORTE */
#content-suporte {
    margin-top: 3rem;
}

#content-suporte h2 {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

#content-suporte p {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.75rem;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
}

.accordion-button {
    border-radius: 20px;
    background-color: #25AADA;
    color: white;
    border: none;
    font-size: 17px;
    font-weight: 700;
}

.accordion .accordion-item:first-child .accordion-button {
    border-radius: 20px;
}

.accordion#accordionExample .accordion-item:last-child .accordion-button {
    border-radius: 20px;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.whatsapp-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
}

.whatsapp-icon:hover {
    background-color: #128C7E;
    transition: background-color 0.3s ease;
}

.whatsapp-icon i {
    font-size: 30px;
    color: #fff;
}