#content-videos {
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}

#content-videos h2 {
    font-size: 2em;
    font-weight: 800;
}

.card {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    margin: 2rem auto;
    max-width: 800px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

video {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

.card-body {
    padding: 1.5rem;
    text-align: left;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.card-text small {
    font-size: 0.9rem;
    color: #777;
}


@media (max-width: 768px) {
    .card {
        margin: 1rem;
    }

    video {
        max-height: 250px;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 0.95rem;
    }
}

@media (max-width: 576px) {
    #content-videos h2 {
        font-size: 1.60em;
    }

    .card-body {
        padding: 0.5rem;
    }

    video {
        max-height: 200px;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}