body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.quiz-container {
  max-width: 600px;
  width: 100%; 
  margin: 50px auto;
  background: #25AADA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  overflow: hidden; 
}

.question {
  font-size: 18px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.answers button {
  display: block;
  margin: 10px auto;
  padding: 12px 24px;
  background-color: #ffffff;
  color: #25AADA;
  border: 2px solid #25AADA;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.answers button:hover {
  background-color: #CFE2FF;
  color: #103F78;
  border-color: #103F78;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.answers button:disabled {
  background-color: #f4f4f4;
  color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.result {
  font-size: 20px;
  margin-top: 20px;
}

.retry-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white; 
  color: #25AADA; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.retry-button:hover {
  background-color: #103F78;
  color: #ffffff ;
}

.retry-button:focus {
  outline: none;
  box-shadow: 0 0 5px #103F78;
}

@media (max-width: 768px) {
  .quiz-container {
      width: 90%; 
      padding: 15px;
  }

  .question {
      font-size: 16px;
      margin-bottom: 15px;
  }

  .answers button {
      font-size: 14px;
      padding: 10px 20px;
  }

  .result {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .quiz-container {
      width: 95%; 
      padding: 10px;
  }

  .question {
      font-size: 14px;
  }

  .answers button {
      font-size: 12px;
      padding: 8px 16px;
  }

  .result {
      font-size: 16px;
  }
}
